<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<!--<script>-->
<!--    function validateForm() {-->
<!--        var name = document.getElementById("name").value;-->
<!--        if (name == "") {-->
<!--            alert("Name must be filled out");-->
<!--            return false;-->
<!--        }-->
<!--    }-->
<!--</script>-->

</head>
<body>
<div class="container">
    <h1>Welcome to our Chat room</h1>

    <span th:if="${exists}">
    <div class="alert alert-info row">
        user <span th:text="' ' + ${name} ' '+"></span> is already connected.
    </div>
    </span>

    <span th:unless="${loggedIn} or ${exists}" >
        <div class="alert alert-info row">
            you are not logged in. please  enter your name to logg in.
        </div>
    </span>

    <span th:if="${loggedIn}"><div class="alert alert-info row">
        <strong>Hi <span th:text=" ${name} "> </span> </strong> would you want to join our Chat room?
        </div> </span>


    <span th:unless="${loggedIn}">
        <form action="#" th:action="@{/login}" method="post">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name" class="col-form-label">Name</label>0
                    <input type="text"  class="form-control" name="name" id="name" placeholder="Name">
<!--                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>-->
                </div>
            </div>
                <span th:if="${empty}">
                    <div class="alert alert-danger row">
                        name can't be empty
                    </div>
                </span>

            <div class="row">
                <div class="col-md-6 mt-5">
                    <input type="submit" class="btn btn-primary" value="logg in">
                </div>
            </div>
        </form>
    </span>

    <span th:if="${loggedIn}"><a class="btn btn-primary btn-lg btn-block" th:href="@{/chatroom}">Go to ChatRoom</a></span>

    <span th:if="${loggedIn}"><a href="/logout">Logout</a></span>
</div>
</body>
</html>