<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Search</title>
<!--    <style>-->
<!--        #show{visibility:hidden}-->
<!--    </style>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="../js/search.js"></script>

    <meta name="NetsparkQuiltingResult" total-length="4252" removed="0" rules-found="w3089,w8081,w8082,w3140,w1413,w1418,w1419,w8672,w3902,w5493,w4438,w2339,w2701,w5513,w240" />
</head>


<body>
<div class="container">
    <div class="text-center">
        <h1 >Search messages</h1>
    </div>
    <div class="row">

        <div class="col-12 col-md-6 m-auto">
            <div class="alert alert-info row">
                <h3>search by name:</h3>
            </div>
            <label for="byName">enter name for his messages</label>
            <input type="text" name="byName" id="byName" required><br>
            <button class="btn btn-primary" id="send_name">send</button>
            <br>
        </div>
        <div class="col-12 col-md-6 " >
            <div class="alert alert-info row m-auto">
                <h3>search by message:</h3>
            </div>
            <label for="byMessage">enter content to look for messages</label>
            <input type="text" name="byMessage" id="byMessage" required><br>
            <button class="btn btn-primary" id="send_message">send</button>
            <br>
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center">
        <div class="col-12 col-md-6 " id="show">these are the results:
            <ul class="list-group " id="here">
            </ul>
        </div>
    </div>
    <div><a class="btn btn-primary" href="/chatroom">Back to ChatRoom</a></div>
    <div><a href="/logout">Log out</a></div>
</div>
</body>

</html>